.container{
  display: grid;
  place-items: center;
  height: 70dvh;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-div{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

button{
  margin-top: 1rem;
}
